Repository testing-library/eslint-plugin-testing-library, pull requests merged in 2020-07, with the labels that each got.

#192 [new-rule] prefer-user-event
  README.md
  docs/rules/prefer-user-event.md
  lib/index.ts
  lib/rules/no-debug.ts
  lib/rules/prefer-user-event.ts
  lib/utils.ts
  tests/__snapshots__/index.test.ts.snap
  tests/lib/rules/prefer-user-event.test.ts
Labels: new rule

#197 fix: add findby variable declaration to prefer-find-by when auto fixing
  lib/rules/prefer-find-by.ts
  tests/lib/rules/prefer-find-by.test.ts
Labels: bug

#200 feat: add render-result-naming-convention rule
  README.md
  docs/rules/render-result-naming-convention.md
  lib/index.ts
  lib/rules/render-result-naming-convention.ts
  lib/utils.ts
  tests/__snapshots__/index.test.ts.snap
  tests/lib/rules/render-result-naming-convention.test.ts
Labels: new rule

#201 feat: allow baseElement and container in prefer-screen-queries
  docs/rules/prefer-screen-queries.md
  lib/node-utils.ts
  lib/rules/prefer-screen-queries.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Labels: enhancement
