Repository testing-library/eslint-plugin-testing-library, pull requests merged in 2020-03, with the labels that each got.

#89 feat(await-async-utils): reflect waitFor changes
  docs/rules/await-async-utils.md
  lib/utils.js
  tests/lib/rules/await-async-utils.js
Labels: enhancement

#94 feat(no-wait-for-empty-callback ): new rule no-wait-for-empty-callback
  README.md
  docs/rules/no-wait-for-empty-callback.md
  lib/index.js
  lib/rules/no-wait-for-empty-callback.js
  tests/lib/rules/no-wait-for-empty-callback.js
Labels: new rule

#88 feat(prefer-wait-for): new rule prefer-wait-for
  README.md
  docs/rules/prefer-wait-for.md
  lib/index.js
  lib/rules/prefer-wait-for.js
  tests/lib/rules/prefer-wait-for.js
Labels: new rule

#96 ci(await-async-query): update node versions
  .travis.yml
Labels: BREAKING CHANGE, chore

#99 feat(prefer-screen-queries): add prefer-screen-queries
  README.md
  docs/rules/prefer-screen-queries.md
  lib/index.js
  lib/rules/prefer-screen-queries.js
  lib/utils.js
  tests/lib/rules/prefer-screen-queries.js
Labels: new rule

#98 feat: new rule prefer-presence-queries
  README.md
  docs/rules/no-get-by-for-checking-element-not-present.md
  docs/rules/prefer-presence-queries.md
  lib/index.js
  lib/rules/no-get-by-for-checking-element-not-present.js
  lib/rules/prefer-presence-queries.js
  tests/lib/rules/no-get-by-for-checking-element-not-present.js
  tests/lib/rules/prefer-presence-queries.js
Labels: BREAKING CHANGE, new rule
